
/* Card Building blocks */

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    max-width: calc(2 * 35rem + 2rem); /* Max width considering the card width and gap */
}

.vertical-card {
    transition-property: box-shadow;
    transition-duration: 0s;
    width: 100%;
    max-width: 40rem;
    background-color: var(--card);
    border-radius: 4px;
    overflow: hidden;
    color: var(--black);
}

.card-purple {
    background-color: #F5E8F8;
}

.vertical-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*Card Animation*/

.vertical-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}


/*Card details*/

.v-card-content {
    padding: 32px 24px;
}

.card-title {
    color: var(--black);
    font-weight: 600;
    margin-top: 0;
}

.v-card-content p {
    color: rgb(79, 104, 107);
    padding-top: 0.5rem;
}

.button-card {
    margin-top: 2rem;
}

.vertical-card.hide {
    display: none;
}

@media (max-width: 750px) {
    .vertical-card {
        max-width: 300px;
    }

    .card-container {
        grid-template-columns: 1fr;
    }


}