/* START FOOTER */

/*Section*/

footer {
    padding: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: auto;
    text-transform: uppercase;
}

footer p {
    font-weight: 600;
}