@import url(Main.css);

/*General*/

.section-header {
    display: flex;
    flex-direction: column;
    padding: 5% 10% 0% 20%;
}

.section-projects {
    padding: 5% 0 0 0;
}


.wrapper-aboutme {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1.5rem;
}


.section-upcomingevents-flex {
    padding: 7% 0 2% 0;
}

.h2-myprojects {
    padding-bottom: 2rem;
}

.light {
    color: rgb(53, 53, 53);
    font-weight: 400;
}

@media (min-width: 1800px) {
    .section-upcomingevents-flex {
        padding: 7% 6% 2% 20%;
    }

}


