@import url(Main.css);

/*General*/

.section-aboutme {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 15% 10% 0% 20%;
}

.wrapper-aboutme {
    display: flex;
    flex-direction: column;
    justify-items: center;
    
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
}


.section-upcomingevents-flex {
    padding: 7% 0 10% 0;
}

.h2-myprojects {
    padding-bottom: 2rem;
}

