
@import url(Reset.css);
@import url(Nav.css);
@import url(Footer.css);
@import url(Cards.css);
@import url(form.css);

/*Overall page*/

html {
    font-size: 16px;
}

body {
    background-image: var(--gradient);
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 100%;
    overflow-x: hidden;
}

main {
    padding-top: 5rem ;
    
}

@keyframes bg-animation {
    0% {background-position: left;}
    100%{background-position: right;}
}

.wrapper-main{
    max-width: 60%;
    margin: 0 auto;
    width: 100%;
}

.colored {
    background-color: #eb8ca99d;
}
.small-section {
    padding: 5rem 0rem;
}

.first {
    padding-top: 10rem;
}

/*Colors*/

:root {
    --main-color: #ffc27d;
    --main-color-h: #f1b570;
    --main-color-a: #d3944b;
    --card: #ffffff39;
    --secondary-color:#F97EAD;
    --secondary-color-h: #ef70a1;
    --secondary-color-a: #cb4478;
    --black: #030303;
    --gradient: linear-gradient(75deg, #F5BED3, #FCE1B0);
}


/*Typography*/

h1,h2,h3,h4,h5,h6 {
    font-family: 'poppins' , Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-blue);
    font-weight: 00;
    
}

h1 {
    font-size: 3.8rem;
    line-height: 1.2;
    font-weight: 700;
}

.h1-smaller {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
}

h2 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
    
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

h4 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
}

h6 {
    font-size: 16px;
    line-height: 1rem;
    font-weight: 600;
}

p {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

li {
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.p-bold {
    font-weight: 700;
}

.p-space {
    padding-bottom: 1.5rem ;
}

.nav-highlight-page {
   border-bottom: 2.5px solid var(--dark-purple)
}

.link-contactus-h {
    border-bottom: 2.5px solid var(--secondary-color)
}

.uppercase {
    text-transform: uppercase;
}

.p-container {
    width: 90%;
}

.context-text {
    color: var(--secondary-color);
    font-size: 14px ;
}

summary {
    font-family: 'poppins' , Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
    color: var(--main-blue);
}

@media (max-width: 700px) {
    h1 {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 700;
    }
    
    .h1-smaller {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 8px;
    }
    
    h2 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 8px;
        
    }
    
    h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
    }
}

/*Image*/

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover;
}


.img-medium {
    max-width:6rem;
    height: 5.5rem;
    object-fit: contain;
}

.img-medium-2 {
    max-width: 65%;
}

.img-medium-3 {
    max-width: 7rem;
    height: 6.5rem;
    object-fit: contain;
}

.img-medium-4 {
    max-width: 30%;
}

.img-large {
    max-width: 20rem;
    height: auto;
}

.img-fixed-size {
    height: 17rem;
    max-width: 10rem;
}

@media (max-width: 768px) { 
    .img-large {
        max-width: 100%; 
        width: auto; 
    }
}

/* Buttons*/

.button-main{
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: var(--main-color);
    color: var(--black);
    padding: 16px;
    border: none;
    border-radius: 0.2rem;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 12rem;
    text-align: center;
    cursor: pointer;
}

.button-main.active {
    border: 2px solid var(--secondary-color-h);
}


.button-main:hover {
    background-color: var(--main-color-h);
}

.button-secondary{
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: var(--secondary-color);
    color: black;
    padding: 16px;
    border: none;
    border-radius: 0.2rem;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 10rem;
    text-align: center;
    cursor: pointer;
}

.button-secondary:hover{
    background-color: var(--secondary-color-h);
}

.button-secondary.active {
    border: 2px solid var(--secondary-color-a);
}

.button-main-wide {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: var(--secondary-purple);
    color: var(--black);
    padding: 14px 16px;
    border: none;
    border-radius: 2px;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 360px;
    margin-top: 1rem;
    text-align: center;
}

.button-main-wide:hover {
    background-color: var(--secondary-purple-h);
}

.button-card {
    transition-property: background-color;
    transition-duration: 0.5s;
    display: inline-block;
    background-color: var(--secondary-purple);
    color: var(--black);
    padding: 14px 16px;
    border: none;
    border-radius: 2px;
    font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-right: 1rem; 
}

.button-card:hover {
    background-color: var(--secondary-purple-h);
}

.fa-solid {
    color: var(--main-blue);
}

  /*Structure */

  .div-horizontal {
    display: flex;
  }

  .div-horizontal-2 {
    display: flex;
    flex-direction: row;
  }

  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .centered-middle {
    display: flex;
    align-items: center;
  }

  .centered-p {
    display: flex;
    justify-self: center;
  }

  .space-top {
    padding-top: 1.5rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}

.padding-bottom-2 {
    padding-bottom: 2rem;
}

.padding-left {
    padding-left: 2rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.container-img {
    display: flex;
    flex-wrap: nowrap;
}

.img-fit {
    max-width: 50%;
    height: auto;
    object-fit: contain; 
}

.container-campaign-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.img-fixed {
    width: 30rem;
    height: auto;
    object-fit: contain;

}

.padding-img {
    height: auto;
    max-width: 22rem;
}




